<div class="card-deck">
    <% if (appliances.length === 0) { %>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Nenhum aparelho cadastrado</h5>
              <p class="card-text">Nenhum aparelho foi adicionado a este cômodo.</p>
            </div>
        </div>
    <% } else { %>
        <% appliances.forEach(function(appliance) { %>
            <div class="card" style="width: 18rem;">
                <img src="<%= appliance.image %>" class="card-img-top" alt="..." height="200">
                <div class="card-body">
                <h5 class="card-title"><%= appliance.type %></h5>
                <p class="card-text"><%= appliance.description %></p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Potência: <%= appliance.power %> W</li>
                    <li class="list-group-item">Duração de uso: <%= appliance.usageDuration %> h</li>
                    <li class="list-group-item">Frequência de uso: <%= appliance.usageFrequency %>x por mês</li>
                    <li class="list-group-item">Consumo estimado: <%= appliance.consumption %> kWh</li>
                    <li class="list-group-item">Custo Mensal: R$ <%= appliance.monthlyCost %></li>
                </ul>
                <div class="card-body">
                <a href="#editApplianceModal" class="card-link edit-appliance-button" data-toggle="modal" data-target="#editApplianceModal<%= appliance.id %>" data-id="<%= appliance.id %>">Editar</a>
                <a href="#removeApplianceModal" class="card-link remove-appliance-button" data-toggle="modal" data-target="#removeApplianceModal<%= appliance.id %>" data-id="<%= appliance.id %>">Excluir</a>
                </div>
            </div>
            <div class="modal fade" id="removeApplianceModal<%= appliance.id %>" tabindex="-1" role="dialog" aria-labelledby="removeApplianceModalTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="removeApplianceModalTitle">Confirmar remoção</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form class="form-horizontal" id="removeApplianceForm" method="post" action="/appliance/<%= room.id %>/delete/<%= appliance.id %>">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="type" class="cols-sm-2 control-label">Tem certeza que deseja excluir <%= appliance.description %>?</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Remover</button>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="editApplianceModal<%= appliance.id %>" tabindex="-1" role="dialog" aria-labelledby="editApplianceModalTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editApplianceModalTitle">Atualização de cadastro</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form class="form-horizontal" id="editApplianceForm" method="post" action="/appliance/<%= room.id %>/update/<%= appliance.id %>">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="type" class="cols-sm-2 control-label">O que deseja alterar no <%= appliance.type %>?</label>
                            </div>
                            <div class="form-group">
                                <label for="description" class="cols-sm-2 control-label">Descrição:</label>
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                        <input type="text" class="form-control" name="description" id="description" value="<%= appliance.description %>" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="power" class="cols-sm-2 control-label">Potência (em W):</label>
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                        <input type="number" min="0" max="10000" step="1" class="form-control" name="power" id="power" value="<%= appliance.power %>" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="usageDuration" class="cols-sm-2 control-label">Tempo contínuo de uso (em horas):</label>
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                        <input type="number" min="0" max="24" step="0.01" class="form-control" name="usageDuration" id="usageDuration" value="<%= appliance.usageDuration %>" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="usageFrequency" class="cols-sm-2 control-label">Frequência de uso (vezes ao mês):</label>
                                <div class="cols-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                        <input type="number" min="0" max="100" step="1" class="form-control" name="usageFrequency" id="usageFrequency" value="<%= appliance.usageFrequency %>" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Atualizar</button>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        <% }); %>
    <% } %>   
</div>
        