<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
          <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
          <li class="breadcrumb-item"><a href="#">Home - <%= home.description %></a></li>
          <li class="breadcrumb-item active" aria-current="page">Room - <%= room.description %></li>
        </ol>
    </nav>
    <div class="app-title">
        <h1 class="h2">The Energy Consumption Helper</h1>
        <p>Sou TECH, seu ajudante na redução do consumo de energia elétrica.</p>
    </div>
    
    <hr>

    <h3>Olá <%= user.name %>, esta área é sua <%= room.description %> da casa <%= home.description %>: </h3>

    <div class="row my-4">
        <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
            <div class="card h-100">
                <h5 class="card-header">Aparelhos</h5>
                <div class="card-body">
                  <h5 class="card-title">4</h5>
                  <p class="card-text">aparelhos neste cômodo</p>
                </div>
              </div>
        </div>
        <div class="col-12 col-md-6 mb-4 mb-lg-0 col-lg-3">
            <div class="card h-100">
                <h5 class="card-header">Consumo Estimado</h5>
                <div class="card-body">
                  <h5 class="card-title">145 kWh</h5>
                  <p class="card-text">por mês</p>
                </div>
              </div>
        </div>
        <div class="col-12 col-md-6 mb-4 mb-lg-0 col-lg-3">
            <div class="card h-100">
                <h5 class="card-header">Custo Estimado</h5>
                <div class="card-body">
                  <h5 class="card-title">R$ 116,00</h5>
                  <p class="card-text">por mês</p>
                </div>
              </div>
        </div>
        <div class="col-12 col-md-6 mb-4 mb-lg-0 col-lg-3">
            <div class="card h-100">
                <h5 class="card-header">Potencial de redução</h5>
                <div class="card-body">
                  <h5 class="card-title">12%</h5>
                  <p class="card-text">mudando algubs hábitos</p>
                </div>
              </div>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-12 col-xl-12 mb-4 mb-lg-0">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5>Aparelhos nesta propriedade:</h5>
                <div class="card-tools">
                    <button type="button" class="btn btn-primary btn-sm" id="addApplianceModalButton" data-toggle="modal" data-target="#addApplianceModal">+</button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <%- include('appliances.ejs'); %>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div class="modal fade" id="addApplianceModal" tabindex="-1" role="dialog" aria-labelledby="addApplianceModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addApplianceModalTitle">Adicione um aparelho:</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form class="form-horizontal" method="post" action="/appliance/<%= room._id %>/add">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="type" class="cols-sm-2 control-label">Escolha o tipo de aparelho:</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                <select class="form-control" name="type" id="type" placeholder="Escolha o tipo de cômodo">
                                    <% for (const key of Object.keys(appliancesEnum)) { %>
                                        <option value="<%= key %>"><%= appliancesEnum[key].Name %></option>
                                    <% } %>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="description" class="cols-sm-2 control-label">Descrição:</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="description" id="description" placeholder="Insira uma descrição" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="power" class="cols-sm-2 control-label">Potência (em W):</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                <input type="number" min="0" max="10000" step="1" class="form-control" name="power" id="power" placeholder="Potência" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="usageDuration" class="cols-sm-2 control-label">Tempo contínuo de uso (em horas):</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                <input type="number" min="0" max="24" step="0.01" class="form-control" name="usageDuration" id="usageDuration" placeholder="Tempo contínuo de uso" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="usageFrequency" class="cols-sm-2 control-label">Frequência de uso (vezes ao mês):</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                <input type="number" min="0" max="100" step="1" class="form-control" name="usageFrequency" id="usageFrequency" placeholder="Frequência de uso" />
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Adicionar</button>
                </div>
            </form>
          </div>
        </div>
    </div>
</div>

<div>
    <a href="/dashboard"> <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Voltar para tela principal</button> </a>
</div>

</body>

</html>